body{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    background-color: rgb(235, 233, 233);
}
.Form{
    width: 500px;
    height: 500px;
    background-color: white ;
    color: black;
    border-radius: 1%;
}
.FormTitle{
    text-align: center;
    font-size: 30pt;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(37, 93, 247);
    font-weight: 500;
}
.Inputs{
    margin-left: 20px;
}
.FormInput{
    outline: none;
    border: solid 1px lightgrey;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 35px;
    width: 460px;
    font-size: 12pt;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-top: 5px;
}
.FormInput:focus{
    box-shadow: 0px 0px 5px rgb(37, 93, 247);
}
.Nome{
    width: 200px;    
}
.data{
    width: 160px;
}
.Sobrenome{
    margin-left: 170px;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}
.btn{
    color: white;
    background-color: rgb(37, 93, 247);
    border: none;
    width: 110px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    border-radius: 5%;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(80, 121, 235);
}

